body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: #7E7E7E;
}

main {
    width: 35%;
}

.hero-img {
    object-fit: cover;
    object-position: 80% 50%;
}

.hero-text {
    margin-top: 300px;
}

@media (max-width: 768px) {
    main {
        width: 100%;
        padding: 10px;
    }

    .hero-text {
        margin-top: 200px;
    }
}

.my-7 {
    margin: 7rem 0;
}

.my-10 {
    margin: 100px 0;
}

.s-card {
    height: 250px;
    width: 250px;
    background-color: #F9F9FC;
}

.f-end {
    height: 50px;
    width: 100%;
    background-color: #000;
}